@page "/BlogOper"
@page "/BlogOper/{Id}"
@inject IUriHelper uriHelper
@inject ICategoryApi categoryApi
@inject IBlogApi blogApi

@if (blog == null)
{
<p><em>Loading...</em></p>
}
else
{
<form @onsubmit="@SaveBlog">
    <div class="form-group">
        <label for="Title">标题</label>
        <input type="text" class="form-control" id="Title" required autofocus placeholder="请输入博客标题" @bind="@blog.Result.Title" />
    </div>
    <div class="form-group">
        <label for="Summary">简介</label>
        <input type="text" class="form-control" id="Summary" required placeholder="请输入博客简介" @bind="@blog.Result.Summary" />
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="Summary">分类</label>
            @if (categorys == null)
            {
            <p><em>Loading...</em></p>
            }
            else
            {
                <select class="form-control" id="CategoryId" @bind="@blog.Result.BlogCategories.FirstOrDefault().Category.Id">
                    @foreach (var category in categorys.Result.Items)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
            }
        </div>
        <div class="form-group col-md-6">
            <label for="Slug">链接</label>
            <input type="text" class="form-control" id="Slug" required placeholder="请输入博客链接" @bind="@blog.Result.Slug" />
        </div>
    </div>
    <div class="form-group">
        <label for="Content">内容</label>
        <div class="row">
            <div class="col">
                <span class="label label-default label-hint">Editor</span>
                <div class="markdown-editor">
                    <textarea id="Content" @bind="@blog.Result.Content" />
                </div>
            </div>
            <div class="col">
                <span class="label label-default label-hint">HTML Preview</span>
                <div class="markdown-view">
                    @((MarkupString)blog.Result.HtmlContent)
                </div>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">保存</button>
    <a class="btn btn-primary" href="BlogList">返回</a>
    <label class="text-danger">@error</label>
</form>
}

@code {
    [Parameter]
    private string Id { get; set; }
    private string error { get; set; }
    EntityResult<BlogDetail> saveResult;
    EntityResult<BlogDetail> blog;
    ListResult<CategoryDetail> categorys;

    protected override async Task OnInitAsync()
    {
        categorys = await categoryApi.GetListAsync();
        if (string.IsNullOrEmpty(Id))
        {
            blog = new EntityResult<BlogDetail>() { Result = new BlogDetail() { BlogCategories = new List<BlogCategory> { new BlogCategory(){Category = new CategoryDetail()} } } };
        }
        else
        {
            blog = await blogApi.GetDetailAsync(Id);
        }
    }

    async Task SaveBlog()
    {
        error = null;
        try
        {
            if(string.IsNullOrEmpty(Id))
                saveResult = await blogApi.CreateAsync(blog.Result);
            else
                saveResult = await blogApi.UpdateAsync(blog.Result);

            if (saveResult.Success)
            {
                uriHelper.NavigateTo("/BlogList");
            }
            else
            {
                error = saveResult.Error as string;
            }
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
